.content-about .content-about-us {
    height: auto;
    gap: 20px;
}

.content-about .content-about-us .main {
    justify-content: space-between;
    align-items: start;
}

.content-about .content-about-us .main .text {
    width: 40%;
}

.content-about .content-about-us .main .text p {
    margin-top: 10px;
    line-height: 1.8;
}

.content-about .content-about-us .main .picture {
    width: 50%;
    height: 500px;
    background-image: url("../../../images/main/team-photo-company-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content-about .content-about-us .main .picture img {
    width: 100%;
    height: 400px;
}