.content-cart .content-main .right-cont {
    width: 30%;
    height: 100%;
    padding: 30px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 20px;
}

.content-cart .content-main .right-cont .content-order-summary {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-cart .content-main .right-cont .content-order-summary .header {
    margin-bottom: 10px;
}

.content-cart .content-main .right-cont .price {
    margin-left: auto;
}

.content-cart .content-main .right-cont .content-order-summary .bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-cart .content-main .right-cont .content-order-summary .bottom .total .title {
    font-weight: bold;
}

.content-cart .content-main .right-cont .content-order-summary .bottom #btn-checkout {
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    cursor: pointer;
    transition: 0.4s all cubic-bezier(.2, .7, .2, 1);
}

.content-cart .content-main .right-cont .content-order-summary .bottom #btn-checkout:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}