.content-collections .content-start {
    background-image: url("../../../images/main/category-page-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    gap: 100px;
}

.content-collections .content-start .texts {
    color: #fff;
    align-items: start;
}

.content-collections .content-start .texts .title {
    width: 600px;
    font-size: 80px;
    font-weight: 800;
    text-shadow: 0 0 40px rgba(0,0,0, 0.5);
}

.content-collections .content-start .texts .subtitle {
    font-size: 17px;
    text-shadow: 0 0 15px rgba(0,0,0, 1);
}