.content-collections .content-most-liked-products {
    padding: 50px 150px;
    margin-top: 100px;
}

.content-collections .content-most-liked-products .header {
    margin-bottom: 30px;
}

.content-collections .content-most-liked-products .header h1 {
    font-size: 35px;
}

.content-collections .content-most-liked-products .header .see-more {
    margin-left: auto;
    font-style: italic;
    text-decoration: underline;
}

.content-collections .content-most-liked-products .header .see-more a {
    color: #000;
}

.content-collections .content-most-liked-products .products-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}