.content-collections .content-collections {
    width: 100%;
    padding: 60px 10%;
    height: auto;
}

.content-collections .content-collections .collections-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 90px);
    grid-gap: 20px;
}

.content-collections .content-collections .collections-wrapper .men {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.content-collections .content-collections .collections-wrapper .men::before {
    background-image: url("../../../images/main/category-images/men-category.jpg");
}

.content-collections .content-collections .collections-wrapper .summer {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.content-collections .content-collections .collections-wrapper .summer::before {
    background-image: url("../../../images/main/category-images/summer-category.jpg");
}

.content-collections .content-collections .collections-wrapper .winter {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.content-collections .content-collections .collections-wrapper .winter::before {
    background-image: url("../../../images/main/category-images/winter-category.jpg");
}

.content-collections .content-collections .collections-wrapper .women {
    grid-column: 1 / 2;
    grid-row: 5 / 8;
}

.content-collections .content-collections .collections-wrapper .women::before {
    background-image: url("../../../images/main/category-images/women-category.jpg");
}

.content-collections .content-collections .collections-wrapper .accessories {
    grid-column: 2 / 3;
    grid-row: 3 / 8;
}

.content-collections .content-collections .collections-wrapper .accessories::before {
    background-image: url("../../../images/main/category-images/accessories-category.jpg");
}

.content-collections .content-collections .collections-wrapper .sport {
    grid-column: 3 / 4;
    grid-row: 4 / 8;
}

.content-collections .content-collections .collections-wrapper .sport::before {
    background-image: url("../../../images/main/category-images/sport-style.jpg");
}

.content-collections .content-collections .collections-wrapper .category-item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    cursor: pointer;
}

.content-collections .content-collections .collections-wrapper .category-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s cubic-bezier(.2, .7, .2, 1);
    z-index: -100;
    transform: scale(1);
}

.content-collections .content-collections .collections-wrapper .category-item:hover::before {
    transform: scale(1.05);
}

.content-collections .content-collections .collections-wrapper .category-item .title {
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-top: auto;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content-collections .content-collections .collections-wrapper .category-item .arrow {
    font-size: 19px;
    color: #fff;
    margin-left: auto;
    margin-top: auto;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}