@keyframes animationBackgroundPosition {
    to {
        background-position: 100%;
    }
}

@keyframes animationTranslate {
    to {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes animationForHeaderText {
    to {
        top: 0;
        left: 0;
        font-size: 30px;
        transform: translate(0, 0);
        letter-spacing: -2px;
        margin: 50px 100px;
        pointer-events: auto;
    }
}

@keyframes animationForRegisterPageBackground {
    to {
        width: 40%;
    }
}

@keyframes opacity {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes opacity0 {
    to {
        opacity: 0;
        pointer-events: none;
    }
}