* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --header-height: 60px;
    --offer-height: 30px;
    --left-bar-width: 230px;
    --main-color: rgb(74, 53, 44);
    --secondary-color: rgb(237, 237, 237);
    --product-width: 250px;
}

body {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

::selection {
    background-color: rgba(74, 53, 44, 0.7);
    color: var(--secondary-color);
}

/*SITE BODY*/
.content-body {
    display: flex;
    flex-direction: column;
}

.content-body .content {
    width: 100%;
    height: 750px;
    padding: 50px;
    align-items: start;
}

.content-body {
    margin-top: calc(var(--header-height) + var(--offer-height));
}

/*FLEX ITEMS*/
.flex-row-gap-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-row-gap-0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-column-gap-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-column-gap-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*BUTTONS*/
.main-button a,
.secondary-button a {
    display: block;
    padding: 12px 30px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s all cubic-bezier(.2, .7, .2, 1);
}

.main-button a {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
}

.main-button a:hover {
    background-color: transparent;
    color: var(--main-color);
}

.secondary-button a {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #000;
}

.secondary-button a:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

/*PRODUCT ITEM*/
.product {
    min-width: var(--product-width);
    max-width: var(--product-width);
}

.product .product-link {
    cursor: pointer;
}

.product .image {
    width: 100%;
    height: 250px;
    background-color: #ddd;
}

.product .texts {
    align-items: start;
}

.product .texts .text {
    align-items: start;
}

.product .texts .text .header {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.product .texts .price {
    margin-left: auto;
    align-items: end;
    font-weight: 700;
    font-size: 22px;
}

.product .texts .price .old-price {
    color: #777777;
    text-decoration: line-through;
}

.product .buttons {
    width: 100%;
    display: flex;
}

.product .buttons .like-button,
.product .buttons .add-to-cart {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 12px 10px;
    border-radius: 23px;
    white-space: nowrap;
}

.product .buttons .like-button {
    width: 46px;
    display: flex;
    overflow: hidden;
    justify-content: start;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-right: auto;
}

.product .buttons .like-button:hover {
    width: 150px;
}

.product .buttons .like-button:hover ~ .add-to-cart {
    width: 48px;
}

.product .buttons .add-to-cart .icon i,
.product .buttons .like-button .icon i {
    font-size: 20px;
}

.product .buttons .add-to-cart {
    width: 160px;
    display: flex;
    justify-content: right;
    border: 2px solid var(--main-color);
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s all ease;
}

.product .buttons .add-to-cart:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

/*VISIT LINK*/
.visit-link a {
    color: #fff;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 50px;
    text-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: 0.3s all cubic-bezier(.2, .7, .2, 1);
}

.visit-link a svg {
    transition: 0.3s all cubic-bezier(.2, .7, .2, 1);
}

.visit-link a:hover {
    text-decoration: underline;
}

.visit-link a:hover svg {
    transform: translateX(5px);
}

/*REVIEW ITEM*/
.review {
    width: auto;
    min-width: 250px;
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.2);
    align-items: start;
    justify-content: start;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;
}

.review .user-info {
    justify-content: start;
    margin-top: auto;
}

.review .user-info .profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.review .user-info .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review .user-info .user-texts .user-name {
    font-weight: 600;
}

.review .user-info .user-texts .user-description {
    color: rgba(0, 0, 0, 0.5);
}

/*FAQ ITEM*/
.faq {
    border-bottom: 1px solid #888;
    padding-top: 10px;
    padding-bottom: 10px;
}

.last-faq {
    border-bottom: none;
}

.faq .question {
    cursor: pointer;
}

.faq .question .title {
    font-size: 20px;
    font-weight: 500;
}

.faq .question .arrow-icon {
    font-size: 20px;
    margin-left: auto;
}

.faq .answer {
    display: none;
    margin-top: 15px;
}

/*type="number" olan butun inputlarin saygac duymelerini yox et*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*firefox ucun*/
input[type="number"] {
    -moz-appearance: textfield;
}

/*select-lerin default brauzer davranisini legv et*/
select {
    -webkit-appearance: none; /* Safari, Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* Standart */
}