* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

:root {
    --header-height: 60px;
    --offer-height: 30px;
    --left-bar-width: 230px;
    --main-color: rgb(74, 53, 44);
}

a {
    text-decoration: none;
}

.flex-row-gap-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-row-gap-0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-column-gap-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-column-gap-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}