.menu-bar,
.offer {
    z-index: 999;
}

#login-popup {
    z-index: 1000;
}

.menu-bar {
    position: fixed;
    width: 100%;
    top: var(--offer-height);
    padding: 0 50px;
    height: var(--header-height);
    background-color: var(--secondary-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.menu-bar .menu-button {
    display: none;
    width: 50px;
    cursor: pointer;
    padding: 5px;
}

.menu-bar .menu-button .line {
    border: 1px solid #000;
}

.menu-bar .menu-button .line-1 {
    width: 30px;
}

.menu-bar .menu-button .line-2 {
    width: 22px;
}

.menu-bar .menu-button .line-3 {
    width: 14px;
}

.menu-bar > .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
}

.menu-bar .left .close-button {
    display: none;
    cursor: pointer;
}

.menu-bar .left .pages .pages-list {
    gap: 20px !important;
}

.menu-bar .left .pages .pages-list .pages-item {
    list-style: none;
}

.menu-bar .left .pages .pages-list .pages-item .pages-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s cubic-bezier(.2, .7, .2, 1);
}

.menu-bar .left .pages .pages-list .pages-item .pages-link .icon {
    display: none;
    margin-right: 10px;
}

.menu-bar .left .pages .pages-list .pages-item .pages-link:hover {
    color: #888;
}

.menu-bar .center {
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
}

.menu-bar .center .icon .logo {
    width: 50px;
    cursor: pointer;
    -webkit-user-drag: none;
}

.menu-bar .center .header-text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.menu-bar .right {
    margin-left: auto;
    gap: 30px !important;
}

.right .buttons .button {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .menu-bar .menu-button {
        display: flex;
        align-items: start;
        gap: 5px !important;
    }

    .menu-bar .left .close-button {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }

    .menu-bar .left {
        position: fixed;
        top: 0;
        left: calc(0px - var(--left-bar-width));
        width: var(--left-bar-width);
        height: 100vh;
        background-color: #fff;
        align-items: start;
        justify-content: start;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        transition: 0.3s cubic-bezier(.2, .7, .2, 1);
        z-index: 90;
    }

    .menu-bar .left .pages .pages-list {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-top: 50px;
    }

    .menu-bar .left .pages .pages-list .pages-item {
        list-style: none;
        padding: 0 30px;
    }

    .menu-bar .left .pages .pages-list .pages-item .pages-link {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        transition: 0.2s cubic-bezier(.2, .7, .2, 1);
    }

    .menu-bar .left .pages .pages-list .pages-item .pages-link:hover {
        color: #000;
    }

    .menu-bar .left .pages .pages-list .pages-item .pages-link .icon {
        display: block;
    }
}

@media (max-width: 600px) {
    .menu-bar {
        padding: 0 20px;
    }
}

@media (max-width: 470px) {
    .menu-bar .center {
        gap: 5px !important
    }
    .menu-bar .center .header-text {
        font-size: 18px;
        font-weight: 700;
    }

    .menu-bar .center .icon .logo {
        width: 35px;
    }
}