<link rel="stylesheet" href="/css/partials/footer/main.css">

<footer>
    <div class="footer flex-row-gap-0">
        <div class="icons flex-column-gap-0">
            <div class="site-icon">
                <a href="/">
                    <img src="/images/logo/FOX-main-square-white.png" alt="Site Logo">
                </a>
            </div>
            <div class="social-icons flex-column-gap-10">
                <div class="line"></div>
                <div class="instagram-icon icon">
                    <a href="https://www.instagram.com/foxwear.az/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="facebook-icon icon">
                    <a href="https://www.facebook.com/profile.php?id=61584125657859" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
                <div class="twitter-icon icon">
                    <a href="https://x.com/foxwearaz" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="texts flex-row-gap-0">
            <div class="text-col-1 text-col">
                <div class="header">Pages</div>
                <div class="link-1 link">
                    <a href="/">
                        Homepage
                    </a>
                </div>
                <div class="link-2 link">
                    <a href="/page/products.html">
                        Products
                    </a>
                </div>
                <div class="link-3 link">
                    <a href="/page/collection/collections.html">
                        Collections
                    </a>
                </div>
                <div class="link-4 link">
                    <a href="/page/contact.html">
                        Contact
                    </a>
                </div>
                <div class="link-5 link">
                    <a href="/page/about.html">
                        About Us
                    </a>
                </div>
            </div>
            <div class="text-col-2 text-col">
                <div class="header">Collections</div>
                <div class="link-1 link">
                    <a href="/page/collection/men.html">
                        Men
                    </a>
                </div>
                <div class="link-2 link">
                    <a href="/page/collection/women.html">
                        Women
                    </a>
                </div>
                <div class="link-3 link">
                    <a href="/page/collection/accessories.html">
                        Accessories
                    </a>
                </div>
                <div class="link-4 link">
                    <a href="/page/collection/summer.html">
                        Summer
                    </a>
                </div>
                <div class="link-5 link">
                    <a href="/page/collection/winter.html">
                        Winter
                    </a>
                </div>
                <div class="link-6 link">
                    <a href="/page/collection/sport.html">
                        Sport
                    </a>
                </div>
            </div>
            <div class="text-col-3 text-col">
                <div class="header">Other</div>
                <div class="link-1 link" onclick="openLogin()">
                    Login
                </div>
                <div class="link-2 link">
                    <a href="/page/register.html">
                        Register
                    </a>
                </div>
                <div class="link-3 link">
                    <a href="/page/cart.html">
                        Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>