.content-register {
    margin-top: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

.content-register .site-icon .icon {
    position: absolute;
    top: 0;
    left: 0;
}

.content-register .site-icon .icon img {
    width: 60px;
    height: 60px;
    margin: 30px;

    user-select: none;
    -webkit-user-select: none;

    opacity: 0;
    pointer-events: none;
    animation: opacity 3s forwards cubic-bezier(.2, .7, .2, 1) 3.5s;
}

.content-register .right-content .selection-text p {
    color: #777;
}