.content-homepage .content-products .header {
    text-align: center;
}

.content-homepage .content-products .products .products-bar {
    padding: 50px 0;
    justify-content: start;
    align-items: start;
    gap: 50px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.content-homepage .content-products .products .products-bar::-webkit-scrollbar {
    display: none;
}

.content-homepage .content-products .products .move-button {
    padding: 17px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(.2,.7,.2,1);
}

.content-homepage .content-products .products .move-button:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}