.content-homepage .content-start {
    background-image: url("../../../images/main/homepage-main-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    gap: 70px;
}

.content-homepage .content-start .header-text{
    color: #fff;
    gap: 30px;
}

.content-homepage .content-start .header-text .title{
    width: 700px;
    font-size: 70px;
    font-weight: 700;
}

.content-homepage .content-start .header-text .subtitle {
    width: 700px;
    line-height: 1.8;
}

.content-homepage .content-start .buttons .main-button a:hover {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}