.content-homepage .content-categories {
    padding: 0;
    gap: 0;
}

.content-homepage .content-categories .category {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s all cubic-bezier(.2, .7, .2, 1);
}

.content-homepage .content-categories .category:hover {
    background-size: 110%;
}

.content-homepage .content-categories .men {
    background-image: url("../../../images/main/category-men.jpg");
}

.content-homepage .content-categories .women {
    background-image: url("../../../images/main/category-women.jpg");
}

.content-homepage .content-categories .category .main-text {
    color: #fff;
    text-align: center;
}

.content-homepage .content-categories .category .main-text .title {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.content-homepage .content-categories .category .main-text .subtitle {
    width: 60%;
    font-size: 22px;
}